.co_name{
    font-size: 250%;
    color: #012840;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 5%;
}

.watchlist{
    margin-top: -4.3%;
    font-size: 120%;
    margin-left: 40%;
    font-weight: lighter;
    border: white;
    background-color: white;
}
.watchlist:hover{
    color: #737373;
}
ul.ticker_table li{
    display: inline-block;
}
li.diff_green {
    font-size: 80%;
    color: #44d731;
}
li.diff_red {
    font-size: 80%;
    color: #d7040b;
}
.tradingview-widget-container{
    margin-top: 4%;
}
.line{
     height: .1%;
    width: 100%;
    margin-top: 5%;
    margin-left: .4%;
    background-color: #EBEBEB;
    margin-bottom: -3%;
}
.line1{
    height: .1%;
    width: 100%;
    margin-top: 5%;
    margin-left: .4%;
    background-color: #EBEBEB;
    margin-bottom: -3%;
}
.news_sentiment{
    text-align: center;
    margin-top: 8%;
    color: #7b7b7b;
}
.news_trend{
    font-size: 200%;
}
.news_trend_percentage{
    font-size: 400%;
    margin-left: -3%;

}
ul.percentage_table li{
    display: inline;
}
li.buy{
    color: #44d731;
}
li.sell{
    color: #d7040b;
}
li.hold{
    color: #ebc613;
}
table {
    display: inline;
    font-size: 150%;
    padding: 3%;

}
.tables{
    margin-top: 2%;
}
table.momentum{
    margin-left: 2% ;
}

td.fisrt{
    text-align: left;
    border-bottom: 1px solid #EBEBEB;
    padding: 1.5%;
    font-family: "Segoe UI",sans-serif;

}
td.second{
    text-align: right;
    border-bottom: 1px solid #EBEBEB;
    padding: 1.5%;
    font-family: "Segoe UI",sans-serif;
}
th{
    font-weight: normal;
    font-size: 50%;
    color: #919191;
}


ul.ticker_table li {
    display: inline;
}
.head{
    text-align: center;
    font-size: 200%;
    font-family: "Segoe UI",sans-serif;
    margin-top: 7%;
    margin-bottom: 1%;
    color: #7b7b7b;
}
.final_signal{
    text-align: center;
    margin-top: 8%;
}
.final_signal_writeup{
    font-size: 200%;
    font-family: "Segoe UI",sans-serif;
    color: #7b7b7b;
}
.final_signal_img{
    margin-top: 3%;
    margin-left: -2%;
    margin-bottom: -15%;
}
input.enter_ticker {
    width: 40%;
    height: 3%;
    box-shadow: 5px 5px 2px #7b7b7b;
    border: #FFFFFF;
    color: #7b7b7b;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 200ms ease-in-out;
    padding-left: 50px;
    background-color: #fcfcfc;
}

input.enter_ticker[type=text]:focus {
    box-shadow: 5px 5px 5px #7b7b7b;
    padding-left: 50px;
}

img.search-label-icon {
    position: absolute;
    margin-left: -500px;
    margin-top: 5px;
}

input.technical_analysis {
    position: absolute;
    margin-top: 6px;
    margin-left: -40px;
    transition: 100ms ease-in-out;
}

input.technical_analysis:hover {
    margin-left: -38px;

}
.autocomplete{
    margin-top: 2%;
    margin-bottom: -6%;
}