body{
    font-family: "Segoe UI", serif;
    text-decoration: none;
}


@media only screen and (max-width: 380px)
and (min-width: 370px){
    div.header{
        margin-left: -2.5%;
        width: 108%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 108%;
    }
div.footer{
    width: 108%;
    margin-left:-2%
}
    div.search_results{
        text-align: center;
        font-size: 150%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 25%;
    }
    form.ticker{
        margin-left: 4.5%;
        max-width: 80%;
    }
    input.Co_name{
        max-width: 105%;
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;
    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }

}
@media only screen and (max-width: 430px)
and (min-width: 410px){
    div.header{
        margin-left: -2.5%;
        width: 108%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 108%;
    }
    div.search_results{
        text-align: center;
        font-size: 150%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 25%;
    }
    form.ticker{
        margin-left: 4.5%;
        max-width: 80%;
    }
    input.Co_name{
        max-width: 105%;
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;
    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }
    div.footer{
    width: 108%;
    margin-left:-2%
}

}
@media only screen and (width: 375px)
and (height: 812px){
    div.footer{
        margin-top: 145%;
    }
    div.footer{
    width: 108%;
    margin-left:-2%
}
}
@media only screen and (width: 414px)
and (height: 896px){
    div.footer{
        margin-top: 145%;
    }
div.footer{
    width: 108%;
    margin-left:-2%
}
}

@media only screen and (max-width: 460px)
and (min-width: 454px){
    div.header{
        margin-left: -2.5%;
        width: 108%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 108%;
    }
    div.footer{
    width: 108%;
    margin-left:-2%
}
    div.search_results{
        text-align: center;
        font-size: 150%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 25%;
    }
    form.ticker{
        margin-left: 4.5%;
    }
    div.results{
        margin-top: 10%;
    }
    input.Co_name{
        max-width: 100%;
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;
    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }

}
@media only screen and (min-width : 1260px)
and (max-width: 1290px){
    div.header{
        margin-left: -2.5%;
        width: 103%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 103%;
    }
    div.search_results{
        text-align: center;
        font-size: 200%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    form{
        text-align: center;
    }
    input.Co_name{
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;

    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }
div.footer{
    width: 103%;
    margin-left:-2%
}
}
@media only screen and (min-width : 1360px)
and (max-width: 1370px){
        div.header{
        margin-left: -2.5%;
        width: 103%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 103%;
    }
    div.search_results{
        text-align: center;
        font-size: 200%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    form{
        text-align: center;
    }
    input.Co_name{
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;

    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }
div.footer{
    width: 103%;
    margin-left:-2%
}

}
@media only screen and (min-width : 1439px)
and (max-width: 1441px){
           div.header{
        margin-left: -2.5%;
        width: 103%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 103%;
    }
    div.search_results{
        text-align: center;
        font-size: 200%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    form{
        text-align: center;
    }
    input.Co_name{
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;

    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }
div.footer{
    width: 103%;
    margin-left:-2%
}

}
@media only screen and (min-width: 1824px){
            div.header{
        margin-left: -2.5%;
        width: 103%;
    }
    div.index_prices {
        margin-left: -2.5%;
        width: 103%;
    }
    div.search_results{
        text-align: center;
        font-size: 200%;
        color: #116466;
        margin-top: 5%;
        margin-bottom: 15%;
    }
    form{
        text-align: center;
    }
    input.Co_name{
        background: none;
        border: none;
        color: #012840;
        transition: 200ms ease-in-out;
        font-size: 120%;

    }
    input.co_name:hover{
        font-size: 120%;
        border-bottom: 1px solid #EBEBEB;
    }
div.footer{
    width: 101%;
    margin-left:-2%
}
}