{% extends 'homepage/layout.html' %}
{% block content %}
    {% load static %}
    <head>
        <title>Technical Analysis</title>
        <link rel="stylesheet" href="/static/tech_analysis/tech_analysis.css">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
    </head>
    <div class="head">
        Technical Analysis
    </div>
    <div class="coname">
        <ul class="ticker_table">
            <li class="ticker_name">{{ ticker }}-</li>
            <li class="ticker_price">{{ price }}</li>
            <li class="diff_green">{{ diff_green }}</li>
            <li class="diff_red">{{ diff_red }}</li>
        </ul>

    </div>

    <div class="tables">
        <table class="momentum">
            <tr>
                <th>Momentum</th>
                <th>Signal</th>
            </tr>
            <tr>
                <td class="first">Relative Strength Index</td>
                <td class="second"> {{ mom_rsi }} </td>
            </tr>
            <tr>
                <td class="first">Awesome Oscillator</td>
                <td class="second"> {{ mom_ao }}</td>
            </tr>
            <tr>
                <td class="first">Money Flow Index</td>
                <td class="second"> {{ mom_mf }}</td>
            </tr>
            <tr>
                <td class="first">Stochastic Oscillator</td>
                <td class="second"> {{ mom_so }}</td>
            </tr>
            <tr>
                <td class="first">True Strength Index</td>
                <td class="second"> {{ mom_tsi }}</td>
            </tr>
            <tr>
                <td class="first">Ultimate Oscillator</td>
                <td class="second"> {{ mom_uo }}</td>
            </tr>
            <tr>
                <td class="first">Williams %R</td>
                <td class="second"> {{ mom_wr }}</td>
            </tr>
            <tr>
                <td colspan="2">

                    <img class="mom_final" src="/static/{{ mom_final }}">

                </td>
            </tr>

        </table>


        <table class="Volume">
            <tr>
                <th>Volume</th>
                <th>Signal</th>
            </tr>
            <tr>
                <td class="first">Chaikin Money Flow</td>
                <td class="second"> {{ vol_cm }}</td>
            </tr>
            <tr>
                <td class="first">Ease of movement</td>
                <td class="second"> {{ vol_em }}</td>
            </tr>
            <tr>
                <td class="first">Force Index</td>
                <td class="second"> {{ vol_fi }}</td>
            </tr>
            <tr>
                <td class="first">Negative Volume Index</td>
                <td class="second"> {{ vol_nv }}</td>
            </tr>
            <tr>
                <td class="first">On-balance volume</td>
                <td class="second"> {{ vol_ob }}</td>
            </tr>
            <tr>
                <td class="first">Accumulation/Distribution Index</td>
                <td class="second"> {{ vol_adi }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="vol_final" src="/static/{{ vol_final }}">
                </td>

            </tr>
        </table>



        <table class="Volatility">
            <tr class="head_table">
                <th>Volatility</th>
                <th>Signal</th>
            </tr>
            <tr>
                <td class="first">Average True Range</td>
                <td class="second"> {{ vot_atr }}</td>
            </tr>
            <tr>
                <td class="first">Bollinger Bands</td>
                <td class="second"> {{ vot_bb }}</td>
            </tr>
            <tr>
                <td class="first">Donchian channel</td>
                <td class="second"> {{ vot_dch }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="vot_final" src="/static/{{ vot_final }}">
                </td>
            </tr>
        </table>

        <table class="Trend">
            <tr>
                <th>Trend</th>
                <th>Signal</th>
            </tr>
            <tr>
                <td class="first">Average Directional Movement Index</td>
                <td class="second"> {{ trn_adx }}</td>
            </tr>
            <tr>
                <td class="first">Aroon Indicator</td>
                <td class="second"> {{ trn_ai }}</td>
            </tr>
            <tr>
                <td class="first">Commodity Channel Index</td>
                <td class="second"> {{ trn_cci }}</td>
            </tr>
            <tr>
                <td class="first">Detrended Price Oscillator</td>
                <td class="second"> {{ trn_dpo }}</td>
            </tr>
            <tr>
                <td class="first">Exponential Moving Average</td>
                <td class="second"> {{ trn_ema }}</td>
            </tr>
            <tr>
                <td class="first">Ichimoku Kinkō Hyō</td>
                <td class="second"> {{ trn_ich }}</td>
            </tr>
            <tr>
                <td class="first">KST Oscillator</td>
                <td class="second"> {{ trn_kst }}</td>
            </tr>
            <tr>
                <td class="first">MACD</td>
                <td class="second"> {{ trn_macd }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <img class="trn_final" src="/static/{{ trn_final }}">
                </td>
            </tr>
        </table>

    </div>
    <div class="more">
        <a class="more" href="{% url 'homepage:Register' %}">Detailed Analysis</a>
    </div>
{% endblock %}
