.line {
    height: .1%;
    width: 100%;
    margin-top: -.5%;
    margin-left: .4%;
    background-color: #EBEBEB;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.head {
    text-align: center;
    font-size: 180%;
    font-family: "Segoe UI", sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
}

table {
    display: inline;
    font-size: 150%;
    padding: 3%;

}

.tables {
    margin-top: 2%;
}

table.momentum {
    margin-left: 2%;
}

td.fisrt {
    text-align: left;
    border-bottom: 1px solid #EBEBEB;
    padding: 1.5%;
    font-family: "Segoe UI", sans-serif;

}

td.second {
    text-align: right;
    border-bottom: 1px solid #EBEBEB;
    padding: 1.5%;
    font-family: "Segoe UI", sans-serif;
}

th {
    font-weight: normal;
    font-size: 50%;
    color: #919191;
}

img.mom_final {
    margin-left: 2%;
    margin-top: 3%;
}

img.vol_final {
    margin-left: 6%;
    margin-top: 3%;
}

img.vot_final {
    margin-left: 5%;
    margin-top: 3%;
}

img.trn_final {
    margin-left: 4%;
    margin-top: 3%;
}

li.diff_green {
    font-size: 80%;
    color: #44d731;
}

li.diff_red {
    font-size: 80%;
    color: #d7040b;
}

.coname {
    font-size: 250%;
    color: #012840;
    margin-left: 15%;
    margin-bottom: 3%;
}

ul.ticker_table li {
    display: inline;
}

.watchlist {
    font-size: 50%;
    margin-top: -10%;
    margin-left: 70%;
    font-weight: lighter;
    border: white;
    background-color: white;
}

.watchlist:hover {
    color: #737373;
}

a.more {
    text-decoration: none;
    font-size: 120%;
    color: #012840;
    transition: 200ms ease-in-out;
}

a.more:hover {
    font-weight: bold;
}

div.more {
    margin-left: 44%;
    margin-bottom: -25%;
    margin-top: 3%;
}