{% extends 'homepage/layout.html' %}
{%  block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/buy-sell-hold/static/homepage/homepage.css">
    <title>Buy Sell Hold</title>
</head>


<div class="background">
    <div class="tag_line">Making Stock Market Decisions Easy!</div>
</div>
    <div class="closeps">
        <div class="featured_stocks">Featured Stocks</div>
            {% for x, closeps,price_diff_green, price_diff_red, hpbar in rows %}
                <div class="Hpbar"><img class="hpbar" src="https://storage.googleapis.com/buy-sell-hold/static/homepage/{{ hpbar }}">
                    <img class="logos" src="https://storage.googleapis.com/buy-sell-hold/static/homepage/{{ x }}">
                    <div class="nums">
                    <div class="price">{{ closeps }}</div>
                    <div class="price_green ">{{ price_diff_green }}</div>
                    <div class="price_red">{{ price_diff_red }}</div>
                    </div>
                </div>
            {% endfor %}

    </div>
<div class="explore"><a href="{% url 'homepage:Register' %}"> Explore</a></div>
<div class="coming_soon"><a href="{% url 'homepage:Future' %}">Coming Soon</a></div>

{% endblock %}

