{% extends 'homepage/layout.html' %}
{%  block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/bshdev_static/static/homepage/homepage.css">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>Buy Sell Hold</title>
</head>


<div class="background">
    <div class="tag_line">Making Stock Market Decisions Easy!</div>
</div>
    <div class="closeps">
        <div class="featured_stocks">Featured Stocks</div>
            {% for x, closeps,price_diff_green, price_diff_red, hpbar, signal, stocks in rows %}
                <div class="Hpbar"><img class="hpbar" src="https://storage.googleapis.com/bshdev_static/static/homepage/{{ hpbar }}">
                    <img class="logos" src="https://storage.googleapis.com/bshdev_static/static/homepage/{{ x }}">
                    <table class="nums">
                        <tr>
                    <td class="stocks">{{ stocks }}</td>
                    <td class="price">{{ closeps }}</td>
                    <td class="price_green ">{{ price_diff_green }}</td>
                    <td class="price_red">{{ price_diff_red }}</td>
                        </tr>
                    </table>
                </div>
                <table class="fs_table">
                <tr>
                    <td class="stocks">{{ stocks }}</td>
                    <td class="price">{{ closeps }}</td>
                    <td class ="price_green ">{{ price_diff_green }}</td>
                    <td class="price_red">{{ price_diff_red }}</td>
                    <td class="signal">{{ signal }}</td>
                </tr>
                </table>
            {% endfor %}

    </div>
<div class="explore"><a class="explore" href="{% url 'homepage:Register' %}"> Explore</a></div>

{% endblock %}

