{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'homepage/layout.css' %}">
    <script src="https://storage.googleapis.com/buy-sell-hold/static/homepage/layout.js' %}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
</head>
<body>
<div class="header">
    <div class="nav-bar">
    <div class="BSH"><a href="{% url 'homepage:Homepage' %}"> <img src="{% static 'homepage/BSH.svg' %}" alt="BSH"></a></div>
    <div class="hamburger"><img class="hamburger" src="{% static  'homepage/investor.svg'%}" alt="Hamburger" onclick="myFunction()">
    <div id="myDropdown" class="dropdown-content">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'homepage:Register' %}">Register</a>
    </div>
    </div>
    </div>
    </div>
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.hamburger')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<div class="index_prices">
    <div class="nav-index">
    <div class="NIFTY50">
        <ul class="NIFTY_table">
            <li class="NIFTY">NIFTY</li>
            <li class="NIFTY_price">{{ price_nifty }}</li>
            <li class="NIFTY_diff_red">{{ diffn_red }}</li>
            <li class="NIFTY_diff_green">{{ diffn_green }}</li>

        </ul>
    </div>
    <div class="SENSEX">
        <ul class="SENSEX_table">
            <li class="SENSEX">SENSEX</li>
            <li class="SENSEX_price">{{ price_sensex }}</li>
            <li class="SENSEX_diff_green">{{ diffs_green }}</li>
            <li class="SENSEX_diff_red">{{ diffs_red }}</li>

        </ul>
    </div>
    <div class="NB">
        <ul class="NB_table">
            <li class="NB">NIFTYBANK</li>
            <li class="NB_price">{{ price_nb }}</li>
            <li class="NB_diff_green">{{ diffnb_green }}</li>
            <li class="NB_diff_red">{{ diffnb_red }}</li>
        </ul>
    </div>

    <div class="BM" id="BM">
        <ul class="BM_table">
            <li class="BM">BSEMIDCAP</li>
            <li class="BM_price">{{ price_bm }}</li>
            <li class="BM_diff_green">{{ diffbm_green }}</li>
            <li class="BM_diff_red">{{ diffbm_red }}</li>
        </ul>
    </div>
        </div>
</div>
<div><form action="{% url 'tech_analysis:Search_Results' %}" method="get" autocomplete="on">
         <div class="autocomplete">

            <label>
                <input class="enter_ticker" type="text" name="Ticker" id="myInput"  placeholder="Enter Ticker">
                <img class="search-label-icon" src="https://storage.googleapis.com/buy-sell-hold/static/homepage/path.png" alt="search" id="input_img">
            </label>
            <input class="technical_analysis" type="image" src="https://storage.googleapis.com/buy-sell-hold/static/homepage/Submit.png" >
            </div>
        </form>
</div>

<div class="line">
</div>
<div class="sidebar" onclick="sidebar_pullout()">
<div class="arrowleft" onclick="sidebar_pullout()"><img src="https://storage.googleapis.com/buy-sell-hold/static/homepage/Arrow Left.png" alt="Arrowleft" >
    </div>
        <div class="submenu" id="submenu">
                <a class="head">BUY SELL HOLD</a>
                <a class="about" href="{% url 'homepage:Our_Goal' %}">Our Goal</a>
                <a class="about" href="{% url 'homepage:Our_Inspiration' %}">Our Inspiration</a>
                <a class="about" href="{% url 'homepage:Who_we_are' %}">Who We Are</a>
                <a class="about" href="{% url 'homepage:What_do_we_do' %}">What Do We Do</a>
        </div>

</div>
{% block content %}
{% endblock %}
<div class="footer">
    <table class="social_media">
        <tr>
    <td class="ig_logo"><img src="https://storage.googleapis.com/buy-sell-hold/static/homepage/IG logo.png" alt="ig_logo"></td>
    <td class="fb_logo"><img src="https://storage.googleapis.com/buy-sell-hold/static/homepage/FB Logo.png" alt="fb_logo"></td>
    <td class="mail_logo"><img src="https://storage.googleapis.com/buy-sell-hold/static/homepage/Gmail Logo.png" alt="mail_logo"></td>
    </tr>
    </table>
</div>

</body>
