body{
    background-color: black;
}
div.hamburger_menu{
    margin-left: 5%;
    margin-top: 2%;
}
div.cross{
    margin-left: 95%;
    margin-top: -1.5%;
}

div.future{
    margin-left:20%;
    margin-top: 8%;
}
div.right_arrow{
    margin-left: 89%;
    margin-top: -8%;
    transition: 200ms ease-in-out;
}

div.right_arrow:hover{
    margin-left: 89.2%;
}

div.left_arrow{
    margin-top: -1%;
    margin-left: 5%;
    transition: 200ms ease-in-out;
}
div.left_arrow:hover{
    margin-left: 4.8%;
}
div.box_table{
    margin-left: 48%;
}
div.box1{
    width: 20px;
    height: 20px;
    margin-top: 15%;
    border: solid 1px #EBC613 ;
    transition: 200ms ease-in-out;
    background-color: #000000;
}
div.box1:hover{
    background-color:#EBC613 ;
}
div.box2 {
    width: 20px;
    height: 20px;
    border: solid 1px #EBC613;
    margin-top: -2%;
    margin-left: 7%;
    background-color: #EBC613;

}


