.welcome{
    margin-left: 41%;
    margin-top: 4%;
    font-size: 300%;
    color: #919191;
    font-family: sans-serif, "Segoe UI";
}
form{
    margin-left: 33%;
    padding: 2%;
    margin-top: 3%;
}

.logout{
    margin-left: 78%;
    margin-top: -2.3%;
    font-size: 105%;
    color: white;
    transition: 300ms;
    padding: 5px;

}
a.logout:hover{
    background-color: #000000;
}

.list{
    margin-left: 5%;
    margin-top: -10%;
    color: #7b7b7b;
}
.name{
    font-size: 150%;
    margin-left: 8%;
    border-bottom: 2px solid #7b7b7b;
    width: 10%;
}
.wl_table{
    margin-top: 2%;
    width: 450px;
    font-size: 110%;
}
td.fisrt{
    color: #7b7b7b;
    font-family: "Segoe UI",sans-serif;
    padding: 1.5%;
    text-align: left;

}
td.second {
    color: #7b7b7b;
    font-family: "Segoe UI", sans-serif;
    width: 10px;
    padding-left: 50px;
    text-align: right;
}
td.third{
    margin-left: 10%;
}
input.enter_ticker {
    width: 40%;
    height: 3%;
    box-shadow: 5px 5px 2px #7b7b7b;
    border: #FFFFFF;
    color: #7b7b7b;
    border-radius: 15px;
    box-sizing: border-box;
    transition: 200ms ease-in-out;
    padding-left: 50px;
    background-color: #fcfcfc;
}

input.enter_ticker[type=text]:focus {
    box-shadow: 5px 5px 5px #7b7b7b;
    padding-left: 50px;
}

img.search-label-icon {
    position: absolute;
    margin-left: -520px;
    margin-top: 5px;
}

input.technical_analysis {
    position: absolute;
    margin-top: 6px;
    margin-left: -40px;
    transition: 100ms ease-in-out;
}

input.technical_analysis:hover {
    margin-left: -38px;

}
.autocomplete{
    margin-top: -15px;
}